<div class="flex">
  <div
    class="bg-[#1d4ed8] hidden flex-1 items-center h-full justify-center bg-[#1d4ed8] bg-cover lg:flex"
  >
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/phone-vector.png" alt="dashboard widget" />
      <h1 class="text-4xl font-bold">"Simplifiez votre gestion de dépenses"</h1>
      <p class="text-xs font-light">
        Offrir aux utilisateurs une solution simple et efficace pour gérer leurs
        dépenses quotidiennes. En utilisant cette application, les utilisateurs
        peuvent facilement suivre leurs dépenses, catégoriser leurs transactions
        et avoir une vue d'ensemble de leurs finances. Le slogan attire
        l'attention des visiteurs en leur promettant une solution pratique et
        efficace pour prendre le contrôle de leurs dépenses et améliorer leur
        gestion financière.
      </p>
    </div>
  </div>
  <div
    class="flex flex-1 items-center justify-center bg-white dark:bg-night-700"
  >
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->

      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
